<head>
    <link href="~/css/Home/about.css" type="text/css" rel="stylesheet"/>
</head>

<div class="about-section-container">
    <div class="about-me-container">

         <h3>About me</h3>
        <p > Hello curious person clicking the footer links! I'm Matias. I was born in Argentina on a chilly day in July, 24 years ago.

        </p>
        <p > I've created this project for two main purposes (in no particular order): </p>
        <br />
        <ol>
            <li>
                To apply the knowledge I've gained along my journey through .NET.
            </li>
            <li>
                To help my mom avoid panic when she forgets where she left her products, clients, or bills books.
            </li>
        </ol>
        @* wasn't it in no order? *@
    </div>
    <div class="the-project-container">
        <h3>The project</h3>
        <p >
            As you can see, the project is simple, not only the interface and the features in it, but also the code,
            we needed a solution to the problem mentioned above, with that in mind: it's structurally designed as a monolith, taking
            advantage of the ASP Net Core Web App (MVC) project template that our lovely .NET framework provides us, along with the .NET Identity system to add a layer of security to the data we're saving here.
        </p>
        <br />
    </div>

    <div class="cool-stuff-container">
        <h3> Cool stuff I've done so far</h3>
        <p >My main focus is Back-End. I've studied, learned, and gained a ton of knowledge in this area. But as a side quest, I've also learned a looooooooooot of Front-End stuff with this project. It's crazy how much more you can learn by actually practicing and doing something rather than just solving some code challenges here and there (they're useful too, but you know).

        </p>
        @* My mom said she was happy about how the project came to life and how useful it is, so I'm happy too. *@
        <br />
    </div>
    <div class="get-involved-container">
        <div class="title-with-icon">
            <h3> Get involved</h3>
            <i class="fa-regular fa-message fa-2x" id="message"></i>
        </div>
        <p > I'd love to hear your thoughts! Send me a message at contact.abstr4@gmail.com or 
            connect with me on LinkedIn or GitHub to stay updated. 
        </p>
        <br />
    </div>
    <div class="thanks-container">
        <div class="title-with-icon">
            <h3> Thanks</h3>
            <i class="fa-solid fa-heart fa-2x" id="heart"></i>
        </div>
        <p >
            A big shoutout to all those YouTube heroes who helped us reach our goals! 
            Check out <a href="https://www.youtube.com/PatrickGod">Patrick God's channel</a> and <a href="https://www.youtube.com/hdeleonnet">Hector de León's channel</a>—they're amazing content creators with tons of tutorials, guides, and useful tips.
        </p>
        <br />
    </div>
    <div class="support-me-container">
        <div class="title-with-icon">
            <h3> Support me</h3>
            <i class="fa-solid fa-hand-holding-dollar fa-2x" id="hand-holding-dollar"></i>
        </div>
        <p >
            If you've found this project useful and want to contribute to a good cause, you can do so by supporting me financially. Every contribution helps me continue improving.
        </p>
        <br />
       <p>
            You can support me on Ronin (any currency on it): 0x46009cfb69196e5b41b93139ba152c92538402ca
       </p>
       <p>
            Or on Metamask (ETH): 0x69373a67FC9BF5F1d93F681d0C9e00C1a10a6Fc1
       </p>
    </div>
</div>