<div class="positon-relative d-flex mb-4">
    <a class="btn btn-secondary align-self-center" asp-action="Index"><i class="fas fa-arrow-left"></i></a>
    <h1 class="flex-grow-1 text-center ms-2"> @Model</h1>
</div>