<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@ViewData["Title"] - TodoSeUsa</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />


    <link href="~/lib/fontawesome-free/css/all.min.css" rel="stylesheet" />
    <link href="~/lib/fontawesome-free/css/fontawesome.min.css" rel="stylesheet" />
    <link href="~/lib/fontawesome-free/css/fontawesome.css" rel="stylesheet" />
    <link href="~/lib/fontawesome-free/css/brands.css" rel="stylesheet" />
    <link href="~/lib/fontawesome-free/css/solid.css" rel="stylesheet" />

    <!-- custom syle-->
    <link rel="stylesheet" href="~/css/back-to-top-button.css" type="text/css" />
    <link rel="stylesheet" href="~/css/navbar-toggle-animation.css" type="text/css" />

</head>

<body>
    <!-- back to top button -->
    <partial name="_BackToTopButtonPartial" />
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow position-fixed w-100">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">TodoSeUsa</a>
                @if(User.Identity.IsAuthenticated)
                {                    
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Inicio</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Clients" asp-action="Index">Clientes</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="BIlls" asp-action="Index">Facturas</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Products" asp-action="Index">Productos</a>
                            </li>
                        </ul>
                        <partial name="_LoginPartial.cshtml" />
                    </div>
                }
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main">
            @RenderBody()
        </main>
    </div>
    <div class="footer-container">
        <footer class="align-items-center py-3 my-4 w-100">
            <ul class="nav justify-content-between border-bottom pb-3 mb-3 ps-4 pe-4">
                <div class="d-flex flex-wrap">
                    <li class="nav-item"><a asp-action="Index" asp-controller="Home" class="nav-link px-2 text-muted">Home</a></li>
                    <li class="nav-item"><a asp-action="Index" asp-controller="Home" class="nav-link px-2 text-muted">About</a></li>
                </div>
                <div class="d-flex justify-content-between">
                    <li class="ms-3"><a href="https://www.linkedin.com/in/matiasrojasmargaritini/"><i class="fa-brands fa-linkedin fa-2x text-muted"></i></a></li>
                    <li class="ms-3"><a href="https://github.com/Abstr4"><i class="fa-brands fa-github fa-2x text-muted"></i></a></li>
                </div>
            </ul>
            <p class="text-center text-muted">© 2023 TodoSeUsa</p>
        </footer>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <!-- Custom scripts -->
    <script src="~/js/back-to-top-button.js"></script>
    <script src="~/js/collapse-navbar-outside-click.js"></script>
    @* <script src="~/js/toggler.js"></script> *@

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
