@model TodoSeUsa.Models.ViewModels.BillClientViewModel

@{
    DateTime today = DateTime.Now;
    ViewData["Title"] = "Create";
}

<div class="positon-relative d-flex justify-content-center mb-4">
    <a class="btn btn-secondary position-absolute align-self-center start-0" href='javascript:history.go(-1)'><i class="fas fa-arrow-left"></i></a>
    <h1>Crear Factura</h1>
</div>
@if (Model != null)
{
    <h4>Cliente @Model.FirstName @Model.LastName Cod. @Model.ClientId</h4>
}
<hr />
<!-- form -->

<div class="row" >
    <div class="col-md-4">
        <form id="form" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ClientId" class="control-label" ></label>
                <select asp-for="ClientId" class="form-control" asp-items="ViewBag.ClientId"></select>
            </div>
        </form>
    </div>
</div>
<div class="d-flex flex-row-reverse w-100 mt-3">
    <input form="form" type="submit" value="Crear factura" class="btn btn-primary" />
</div>

<hr />

<div class="mt-2">
    <a class="btn btn-secondary" href='javascript:history.go(-1)'> <i class="fas fa-arrow-left"></i> Volver a la lista</a>    
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

